.headerChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 75px;
}
.logoStoreChild {
  position: absolute;
  top: -11px;
  left: 0;
  width: 205px;
  height: 70px;
  object-fit: cover;
}
.groupChild,
.logoStore {
  position: absolute;
  top: 19px;
  left: 92px;
  width: 205px;
  height: 49px;
}
.groupChild {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 132px;
  height: 36px;
}
.search,
.searchIcon {
  position: absolute;
  top: 6px;
}
.searchIcon {
  left: 97px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.search {
  left: 20px;
  line-height: 24px;
}
.vectorParent {
  position: relative;
  width: 132px;
  height: 36px;
}
.shoppingCartIcon,
.userIcon {
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.userIcon {
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
}
.shoppingCartIcon {
  position: absolute;
  top: 12px;
  left: 0;
}
.groupItem {
  position: absolute;
  height: 73.17%;
  width: 91.45%;
  top: 4.18%;
  right: 0.43%;
  bottom: 22.65%;
  left: 8.12%;
  border-radius: 50%;
  background-color: var(--color-red);
}
.div,
.ellipseParent {
  position: absolute;
  top: 0;
}
.div {
  height: 100%;
  width: 100%;
  left: 0;
  line-height: 24px;
  display: inline-block;
}
.ellipseParent {
  height: 66.74%;
  width: 61.58%;
  right: 0;
  bottom: 33.26%;
  left: 38.42%;
}
.shoppingCart {
  position: relative;
  width: 38px;
  height: 43px;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.groupParent {
  position: absolute;
  top: 22px;
  left: 1102px;
  width: 253px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
}
.speacialPrice {
  position: relative;
  line-height: 24px;
  color: var(--color-red);
}
.clothing {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
}
.chevronDownIcon {
  position: absolute;
  top: 0;
  left: 72px;
  width: 22px;
  height: 24px;
  overflow: hidden;
}
.clothingParent {
  position: relative;
  width: 94px;
  height: 24px;
}
.tShirt {
  position: relative;
  line-height: 24px;
}
.navBar {
  position: absolute;
  top: 25px;
  left: 329px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-14xl);
  color: var(--color-gray-100);
}
.header,
.header1 {
  width: 1440px;
  height: 75px;
}
.header1 {
  position: absolute;
  top: 0;
  left: 0;
}
.header {
  position: relative;
  z-index: 0;
}
.containerProductChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1285px;
  height: 1102px;
}
.danhMcSn,
.ttCSn {
  position: absolute;
  line-height: 24px;
}
.danhMcSn {
  top: 18px;
  left: 25px;
  font-weight: 600;
  display: inline-block;
  width: 188px;
  height: 28px;
}
.ttCSn {
  top: 68px;
  left: 53px;
  color: var(--color-red);
}
.jacket,
.tShirt1,
.ttCSn,
.ttCSn1 {
  display: inline-block;
  width: 188px;
  height: 28px;
}
.ttCSn1 {
  position: absolute;
  top: 19px;
  left: 427px;
  line-height: 24px;
  font-weight: 600;
}
.jacket,
.tShirt1 {
  left: 53px;
}
.tShirt1 {
  position: absolute;
  top: 118px;
  line-height: 24px;
}
.jacket {
  top: 168px;
}
.jacket,
.pants,
.spXp {
  position: absolute;
  line-height: 24px;
}
.pants {
  top: 218px;
  left: 53px;
  display: inline-block;
  width: 188px;
  height: 28px;
}
.spXp {
  top: 3px;
  left: 0;
  font-weight: 500;
}
.groupInner {
  position: absolute;
  top: 0;
  left: 68px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 130px;
  height: 31px;
}
.mcNh {
  position: absolute;
  top: 3px;
  left: 76px;
  line-height: 24px;
  font-weight: 500;
}
.chevronDownIcon1 {
  position: absolute;
  top: 6px;
  left: 180px;
  width: 18px;
  height: 19px;
  overflow: hidden;
}
.spXpParent {
  position: absolute;
  top: 15px;
  left: 1025px;
  width: 198px;
  height: 31px;
  font-size: var(--font-size-sm);
}
.itemProductsChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 254px;
  height: 300px;
}
.lineBoxyRaglan {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.image1Icon,
.priceName {
  position: absolute;
  left: 0;
}
.priceName {
  top: 242px;
  width: 140px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.image1Icon {
  top: 0;
  width: 254px;
  height: 235.9px;
  object-fit: cover;
}
.itemProducts {
  position: relative;
  width: 254px;
  height: 300px;
}
.priceName1 {
  position: absolute;
  top: 242px;
  left: 0;
  width: 140.4px;
  height: 27.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.image1Icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 254px;
  height: 235.9px;
  object-fit: cover;
  cursor: pointer;
}
.listProductItems,
.priceName3,
.priceName5 {
  position: absolute;
  top: 241px;
  left: 0;
  width: 140.4px;
  height: 27.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.listProductItems,
.priceName5 {
  top: 243px;
}
.listProductItems {
  top: 82px;
  left: 427px;
  width: 800px;
  height: 991px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-lgi);
  font-size: var(--font-size-sm);
}
.containerProduct {
  position: relative;
  width: 1285px;
  height: 1102px;
  z-index: 1;
  font-size: var(--font-size-base);
}
.footer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 451px;
}
.frameChild {
  position: absolute;
  top: 18px;
  left: 618px;
  width: 205px;
  height: 70px;
  object-fit: cover;
}
.tHngV {
  position: absolute;
  top: 107px;
  left: 518px;
  line-height: 24px;
  text-align: center;
}
.ngNguynDu {
  position: absolute;
  top: 0;
  left: 54px;
  line-height: 30px;
  display: inline-block;
  width: 367px;
  height: 66px;
}
.clothesIcon {
  position: absolute;
  top: 9.9px;
  left: 0;
  width: 45px;
  height: 46.2px;
  object-fit: cover;
}
.ngCmt8QunTnBnhThnhParent,
.ngNguynDuQun1ThnhPhParent {
  position: absolute;
  top: 37.4px;
  left: 0;
  width: 421px;
  height: 66px;
}
.ngCmt8QunTnBnhThnhParent {
  top: 107.8px;
}
.span {
  text-decoration: underline;
}
.linH0969404274 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 421px;
  height: 33px;
}
.contactUs,
.linH0969404274Wrapper {
  position: absolute;
  top: 188px;
  left: 10px;
  width: 421px;
  height: 33px;
}
.contactUs {
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  text-decoration: underline;
  line-height: 30px;
  display: inline-block;
  width: 175px;
}
.address {
  position: absolute;
  top: 161px;
  left: 87px;
  width: 431px;
  height: 221px;
  font-size: var(--font-size-xl);
}
.aboutUs,
.chnhSchI,
.giiThiu,
.hngDnMua {
  position: absolute;
  left: 0;
  line-height: 30px;
  width: 175px;
  height: 33px;
}
.aboutUs {
  top: -52px;
  text-decoration: underline;
  display: none;
}
.chnhSchI,
.giiThiu,
.hngDnMua {
  top: 0;
  display: inline-block;
}
.chnhSchI,
.hngDnMua {
  top: 48px;
  width: 266px;
}
.chnhSchI {
  top: 96px;
}
.address1,
.followUs {
  position: absolute;
  top: 220px;
  left: 657px;
  width: 266px;
  height: 129px;
}
.followUs {
  top: -46px;
  left: -59px;
  text-decoration: underline;
  line-height: 30px;
  display: none;
  width: 213px;
  height: 33px;
}
.facebookIcon,
.follow,
.instagramIcon {
  position: absolute;
  width: 55px;
  height: 42px;
}
.instagramIcon {
  top: 0;
  left: 0;
  object-fit: cover;
}
.facebookIcon,
.follow {
  display: none;
}
.facebookIcon {
  top: 0;
  left: -62px;
  object-fit: cover;
}
.follow {
  top: 222px;
  left: 1143px;
}
.linHVi,
.theoDiChng {
  position: absolute;
  top: 163px;
  left: 100px;
  text-decoration: underline;
  line-height: 30px;
  display: inline-block;
  width: 283px;
  height: 33px;
}
.theoDiChng {
  top: 161px;
  left: 1108px;
  width: 234px;
}
.facebookIcon1,
.instagramIcon1 {
  position: absolute;
  top: 208px;
  left: 1170px;
  width: 55px;
  height: 42px;
  object-fit: cover;
}
.facebookIcon1 {
  left: 1108px;
}
.footerParent {
  position: relative;
  width: 1440px;
  height: 451px;
  z-index: 2;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.desktop6Child {
  position: absolute;
  margin: 0 !important;
  top: 184px;
  left: 510px;
  width: 794px;
  height: 2px;
  z-index: 3;
}
.desktop6 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1736px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
